h1{
    text-align: center;
    text-shadow: 2px 2px 2px #a8dadc;
    color: #e63046;
}

div.contenedor{
    display: flex; /*acomoda el contenido de manera horizontal*/
    background-color: #560bad;
    flex-direction: row; /*ordena el contenido de manera que se le indique*/
    flex-wrap: wrap; /*envuelve los elementos cada vez que se hace mas peque;a la ventana*/
    justify-content: center; /*centra el contenido*/
    justify-content: space-around; /*separa el contenido*/
    height: 300px; /*alarga los elementos*/
    align-items: flex-start; /*ubica los elementos en su lugar, a pesar del height de 300px*/
    align-content: center; /*centra el contenido dentro de los 300px height*/
}

div.contenedor > p { /*Selecciona elementos p dentro de div contenedor*/
    background-color: #4895ef;
    color: #f1faee;
    margin: 20px; /*separa los elementos 20px entre ellos*/
    padding: 15px; /*crea un ancho de caja de 15px*/
    font-size: 1.5em;
    
}