h1{
    text-align: center;
    color: darkorange;
}

h2{
    color: white;
}

.rojo{
    background-color: firebrick;
}

.amarillo{
    background-color: gold;
    color: black;
}

.violeta{
    background-color: blueviolet;
}

.verde{
    background-color: lime;
    color: black;
}

.azul{
    background-color: blue;
}

.naranja{
    background-color: orange;
}

.celeste{
    background-color: lightskyblue;
    color: black;
}


.rojo1{
    border: 10px solid red;
    color: red;
}

.verde1{
    border: 10px dashed green;
    color: green;
}

.amarillo1{
    border: 10px double gold;
    color: gold;
}

.azul1{
    border: 10px dotted blue;
    color: blue;
}