ol{
    list-style: none;
    counter-reset: contador; /*Va contando cada elemento de la lista*/
}

ol li{
    counter-increment: contador; /*Vamos incrementando 'contador'*/
}

/*Aca lo que hacemos es indicar que trabajaremos en <ol>, con todos los elementos <li>, dentro de ella
Ademas :: indica ubicacion y queremos trabajar lo que esta antes del orden de la lista*/
ol li::before{
    content: 'Curso ' counter(contador) ') ';
    color: #ff6f00; /*Elemento 'contador' se agrega al lado de 'Curso'*/
}

ol li::after{
    content: '.'; /*Agregamos un '.' al final de cada elemento en la lista*/
}