h1{
    color: #26446e;
}

ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0; /*Elimina distancia entre cuadros de texto*/
    padding: 0; /*Elimina cuadro de padding*/
}

/* de aca en adelante es para ordenar los links de manera horizontal */
li{ 
    float: left;
}

li a{ /*dentro de <li> los elementos que sean <a>, o sea links*/
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 15px; /*Crea un cuadro de 15px para cada link*/
    text-decoration: none; /*quita la linea de abajo del link*/
}

li a:hover{ /*Para cambiar color cuando toquemos el link*/
    background-color: #1d3557;
}