/*
h1{
    color: aqua !important; /*'!important' sirve para hacer que tome prioridad sobre html
    text-align: right;
} 
*/

/*lo siguiente se aplica a todas las etiquetas*/
*{
    background-color: ghostwhite;
    color: cornflowerblue;
}

#titulo{
    color: crimson;
    text-align: center;
}

.centrar{
    text-align: center;
}

.texto_grande{
    font-size: 20px;
}