h1{
    text-align: center;
    color: #e63946;
}

div.contenedor{
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8aadc;
    padding: 15px;
    color: #457b9d;
}

div.contenedor.descendiente p{ /*Seleccionamos a todos los p dentro de la etiqueta div*/
    background-color: #fdffb6;
}

div.contenedor.hijo > p { /*Seleccionamos a todos los p hijos directos de la etiqueta div*/
    background-color: #ffc6ff;
}

div.contenedor.adyacente + p{ /*Se selecciona el elemento tipo p que esten despues de la etiqueta div*/
    background-color: #caffbf;
}

div.contenedor.hermano ~ p { /*Se seleccionan los elementos tipo p que esten despues de la etiqueta div*/
    background-color: #9bf6ff;
}