h1{
    color: crimson;
    text-align: center;
}

h2{
    color: rgb(90, 11, 192);
}

p{
    color: cornflowerblue;
}

div{
    border: 5px solid #560bad;
    background-color: rgb(222, 247, 247);
    text-align: center;
}