*{
    background-color: rgb(170, 169, 169);
}

h1{
    text-align: center;
    color: #e66946;
}

.caja{
    padding: 20px; 
    color: white;
    width: 200px;
    height: 60px;
    text-align: center;
    margin: 5px auto;
    font-size: 14px;
    float: left;
}

.rojo{
    background-color: crimson;
}

.rosa{
    background-color: deeppink;
}

.rgb{
    background-color: rgb(131,56,236);
}

.rgba{
    background-color: rgba(131,56,236,0.5);
}

.hexadecimal{
    background-color: #0091ad;
}

.hexa_transp{
    background-color: #0090ad88;
}

.hsl{
    background-color: hsl(195, 100%, 50%);
}

.hsla{
    background-color: hsla(195, 100%, 50%, 0.35);
}