h1{
    text-align: center;
    color: brown;
}

div{
    position: relative; /*permite posicionar elementos con los valores de top,left,right,bottom*/
    /*top: 100px;*/
    /*left: 40px;*/
    width: 50%; /*se ajusta al 50% aun asi se ajuste la pantalla*/
    border: 3px solid firebrick;
    text-align: center;
    color: crimson;
    margin: auto; /*espacio de lado izquierdo y derecho es igual*/
}

.fijar{
    position: fixed;
    top: 0px;
    left: 0px;
    /*Esto fija el elemento en la parte superior izquierda*/
    /*El elemento sigue el scroll de la pagina*/
}
.fijadoabajo{
    position: fixed;
    bottom: 0px;
    right: 0px;
    /*Esto fija el elemento en la parte inferior derecha*/
    /*El elemento sigue el scroll de la pagina*/
}

div.absoluto{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 3px solid firebrick;
}

div.relativo{
    max-width: 300px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 100px;
    border: 3px solid cornflowerblue;
}

div.sticky{
    position: sticky;
    top: 0;
    right: 0;
    border: 3px double gold;
}