h1{
    text-align: center;
    color: crimson;
}

div.contenedor{
    
    width: 30%;
    height: 100px; /*El overflow funciona SIEMPRE que utilicemos Height*/
    overflow: auto; /*Se recorre por medio de scroll pero no se muestre la barra scroll horizontal*/
   /* float: left; /*Ordena los elementos en la misma linea de izquera a derecha*/
}

div.contenedor.flotado{
    float: left;
}

div.contenedor.flotado.contenedor1{
    border: 3px dashed greenyellow;
}

div.contenedor.flotado.contenedor2{
    border: 3px dashed cornflowerblue;
    float: right;
}

div.contenedor.contenedor3{
    clear: both;
    border: 3px dashed darkorange;
    margin: auto; /*centra los elementos a la mitad de la pantalla*/

}