h1{
    text-align: center;
}

/*Z-Index son capaz de posicion de los elementos*/

div.estatico{
    position: static;
    padding: 15px;
    top: 8px;
    border: 3px solid rgb(218, 91, 32);
    background-color: seashell;
    z-index: 2; /*Coloca el elemento 2pts por delante de los demas*/
}

div.relativo{
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
    border: 3px solid slateblue;
    background-color: rgb(225, 226, 243);
    z-index: -1; /*Coloca el elemento -1pt por detras de los demas*/
}

div.absoluto{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    border: 3px solid rgb(7, 129, 78);
    background-color: rgb(198, 247, 226);
    z-index: 5; /*Posiciona el elemento por encima del anterior debido al z-index: 5*/
}